@model OrdersApp.ViewModels.CustomerProductViewModel
@{
    ViewBag.Title = "AddOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Order</h2>

@using (Html.BeginForm("Create", "Order"))
{
    <div class=" form-group">
        <Label>Customer</Label>
        @Html.DropDownListFor(m => m.Order.Customer.Id, new SelectList(@Model.Customers, "Id", "Fname"), "Select Customer", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.Customer)
    </div>

    <div class=" form-group">
        <Label>Product</Label>
        @Html.DropDownListFor(m => m.Order.Product.Id, new SelectList(@Model.Products, "Id", "Name"), "Select Product", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.Product)
    </div>


    @Html.HiddenFor(m => m.Order.Id);

    <button type="submit" class="btn btn-primary">Add</button>
}

